body {
    margin: 0;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    height: 10%;
    background-color: rgb(15, 61, 145);
    color: white;
}

.mid {
    display: flex;    
    height: 100%;
    width: 100%;
}
.mid-left {
    width: 20vw;
    height: 100%;
    background-color: rgb(240, 240, 240);
}
.mid-right {
    /* flex-grow: 1; */
}

/* FOOTER SETTINGS */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    font-size: 20px;
    background-color: rgb(15, 61, 145);
    color: white;
}
  
.fa-github {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }